<div id="page" style="display: none;" data-page="AdminUserPWDReset"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel update">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Alterar Senha
                    </h1>
                    <p>
                        Para alterar a senha do usuário, informe os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-reset-password">

                            <div class="form-group">
                                <label for="create-pass">Senha:</label>
                                <input type="password" id="create-pass" name="create-pass">
                            </div>

                            <div class="form-group">
                                <label for="create-confirm-pass">Confirmar senha:</label>
                                <input type="password" id="create-confirm-pass" name="create-confirm-pass">
                            </div>

                            <div class="form-group">
                                <button type="submit" id="btn-change-pass" name="btn-change-pass" class="btn btn-update">Alterar senha</button>
                            </div>
    
                        </form>

                    </div>

                </section>
    
            </div>
    
        </div>
    </div>

</div>