<div id="page" style="display: none;" data-page="AdminNewUser"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel new">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Novo Usuário
                    </h1>
                    <p>
                        Para criar um novo usuário, preencha os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="user-creation">

                            <div class="form-group">
                                <label for="full-name">Nome completo:</label>
                                <input type="text" id="full-name" name="full-name">
                            </div>
    
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="email" id="email" name="email">
                            </div>
    
                            <div class="form-group">
                                <label for="username">Usuário:</label>
                                <input type="text" id="username" name="username">
                            </div>
    
                            <div class="form-group">
                                <label for="create-pass">Senha:</label>
                                <input type="text" id="create-pass" name="pascreate-passsw">
                            </div>
    
                            <div class="form-group">
                                <label for="create-confirm-pass">Confirmar Senha:</label>
                                <input type="text" id="create-confirm-pass" name="create-confirm-pass">
                            </div>
    
                            <div class="form-group form-one-line"> 
                                <input type="checkbox" id="user-active" name="user-active" checked>
                                <label for="user-active">Ativo</label>
                            </div>
    
                            <div class="form-group">
                                <label for="profile">Perfil de acesso:</label>
                                <select name="profile" id="profile">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="company">Empresa:</label>
                                <select name="company" id="company">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="local">Local:</label>
                                <select name="local" id="local">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="sector">Setor:</label>
                                <select name="sector" id="sector">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-enviar" id="btn-new-user">Criar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>