<div id="page" style="display: none;" data-page="AdminPriorityUpdate"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel update">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Alteração de prioridade
                    </h1>
                    <p>
                        Para atualizar uma prioridade, preencha os dados abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-priority">

                            <input type="hidden" id="id_priority" name="id_priority">
                            
                            <div class="form-group">
                                <label for="priority_name">Nome:</label>
                                <input type="text" id="priority_name" name="priority_name">
                            </div>

                            <div class="form-group">
                                <label for="priority_color">Cor da fonte:</label>
                                <input type="color" id="priority_color" name="priority_color" >
                            </div>

    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-update" id="btn-update">Alterar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>