<div id="page" style="display: none;" data-page="AdminTickets"></div>
<div class="tickets-container">

    
    <div class="options-menu">
        <header>
            Visualizações padrões
        </header>
        <ul>
            <li>
                <a href="">
                    <span>Todos os tickets</span> <span>60</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Seus tickets</span> <span>11</span>
                </a>
            </li>
            <li >
                <a href="" class="no-assignment-button">
                    <span>Tickets sem atribuição</span> <span>4</span>
                </a>
            </li>
        </ul>
    </div>


</div>