<div id="page" style="display: none;" data-page="AdminTickets"></div>
<div class="tickets-container content">

    
    <div class="content-left-panel options-menu">
        <header>
            Visualizações padrões
        </header>
        <ul>
            <li>
                <a href="">
                    <span>Todos os tickets</span> <span>60</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Seus tickets</span> <span>11</span>
                </a>
            </li>
            <li >
                <a href="" class="no-assignment-button">
                    <span>Tickets sem atribuição</span> <span>4</span>
                </a>
            </li>
        </ul>
    </div>

    <div class=" content-main-panel tickets-panel">

        <div class=" header-container ticket-list-header-container">
            <header class="ticket-list-header">
                <div class="ticket-option-selected">
                    <h1>Todos os Tickets</h1>
                </div>
                <div class="ticket-qtd">
                    <span id="ticket-qtd">60</span> Tickets
                </div>
            </header>
        </div>
        
        <div class="ticket-list-container" id="ticket-list-container">
            <div class="ticket-list" id="ticket-list">
                <table cellspacing="0px;">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Titulo</th>
                            <th>Solicitante</th>
                            <th>Atribuição</th>
                            <th>Abertura</th>
                            <th>Prioridade</th>
                            <th>Ultima Alteração</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#2058</td>
                            <td>Lorem impsum dolor ammet !</td>
                            <td>Eduardo</td>
                            <td>-</td>
                            <td>25/05/2019</td>
                            <td>Alta</td>
                            <td>25/05/2019</td>
                        </tr>
                        <tr>
                            <td>#2058</td>
                            <td>Lorem impsum dolor ammet !</td>
                            <td>Eduardo</td>
                            <td>-</td>
                            <td>25/05/2019</td>
                            <td>Alta</td>
                            <td>25/05/2019</td>
                        </tr>
                        <tr>
                            <td>#2058</td>
                            <td>Lorem impsum dolor ammet !</td>
                            <td>Eduardo</td>
                            <td>-</td>
                            <td>25/05/2019</td>
                            <td>Alta</td>
                            <td>25/05/2019</td>
                        </tr>
                        <tr>
                                <td>#2058</td>
                                <td>Lorem impsum dolor ammet !</td>
                                <td>Eduardo</td>
                                <td>-</td>
                                <td>25/05/2019</td>
                                <td>Alta</td>
                                <td>25/05/2019</td>
                            </tr>
                            <tr>
                                <td>#2058</td>
                                <td>Lorem impsum dolor ammet !</td>
                                <td>Eduardo</td>
                                <td>-</td>
                                <td>25/05/2019</td>
                                <td>Alta</td>
                                <td>25/05/2019</td>
                            </tr>
                            <tr>
                                <td>#2058</td>
                                <td>Lorem impsum dolor ammet !</td>
                                <td>Eduardo</td>
                                <td>-</td>
                                <td>25/05/2019</td>
                                <td>Alta</td>
                                <td>25/05/2019</td>
                            </tr>
                            <tr>
                                <td>#2058</td>
                                <td>Lorem impsum dolor ammet !</td>
                                <td>Eduardo</td>
                                <td>-</td>
                                <td>25/05/2019</td>
                                <td>Alta</td>
                                <td>25/05/2019</td>
                            </tr>
                            <tr>
                                    <td>#2058</td>
                                    <td>Lorem impsum dolor ammet !</td>
                                    <td>Eduardo</td>
                                    <td>-</td>
                                    <td>25/05/2019</td>
                                    <td>Alta</td>
                                    <td>25/05/2019</td>
                                </tr>
                                <tr>
                                    <td>#2058</td>
                                    <td>Lorem impsum dolor ammet !</td>
                                    <td>Eduardo</td>
                                    <td>-</td>
                                    <td>25/05/2019</td>
                                    <td>Alta</td>
                                    <td>25/05/2019</td>
                                </tr>
                                <tr>
                                    <td>#2058</td>
                                    <td>Lorem impsum dolor ammet !</td>
                                    <td>Eduardo</td>
                                    <td>-</td>
                                    <td>25/05/2019</td>
                                    <td>Alta</td>
                                    <td>25/05/2019</td>
                                </tr>
                                <tr>
                                        <td>#2058</td>
                                        <td>Lorem impsum dolor ammet !</td>
                                        <td>Eduardo</td>
                                        <td>-</td>
                                        <td>25/05/2019</td>
                                        <td>Alta</td>
                                        <td>25/05/2019</td>
                                    </tr>
                                    <tr>
                                        <td>#2058</td>
                                        <td>Lorem impsum dolor ammet !</td>
                                        <td>Eduardo</td>
                                        <td>-</td>
                                        <td>25/05/2019</td>
                                        <td>Alta</td>
                                        <td>25/05/2019</td>
                                    </tr>
                                    <tr>
                                        <td>#2058</td>
                                        <td>Lorem impsum dolor ammet !</td>
                                        <td>Eduardo</td>
                                        <td>-</td>
                                        <td>25/05/2019</td>
                                        <td>Alta</td>
                                        <td>25/05/2019</td>
                                    </tr>
                                    <tr>
                                            <td>#2058</td>
                                            <td>Lorem impsum dolor ammet !</td>
                                            <td>Eduardo</td>
                                            <td>-</td>
                                            <td>25/05/2019</td>
                                            <td>Alta</td>
                                            <td>25/05/2019</td>
                                        </tr>
                                        <tr>
                                            <td>#2058</td>
                                            <td>Lorem impsum dolor ammet !</td>
                                            <td>Eduardo</td>
                                            <td>-</td>
                                            <td>25/05/2019</td>
                                            <td>Alta</td>
                                            <td>25/05/2019</td>
                                        </tr>
                                        <tr>
                                            <td>#2058</td>
                                            <td>Lorem impsum dolor ammet !</td>
                                            <td>Eduardo</td>
                                            <td>-</td>
                                            <td>25/05/2019</td>
                                            <td>Alta</td>
                                            <td>25/05/2019</td>
                                        </tr>
                                        <tr>
                                                <td>#2058</td>
                                                <td>Lorem impsum dolor ammet !</td>
                                                <td>Eduardo</td>
                                                <td>-</td>
                                                <td>25/05/2019</td>
                                                <td>Alta</td>
                                                <td>25/05/2019</td>
                                            </tr>
                                            <tr>
                                                <td>#2058</td>
                                                <td>Lorem impsum dolor ammet !</td>
                                                <td>Eduardo</td>
                                                <td>-</td>
                                                <td>25/05/2019</td>
                                                <td>Alta</td>
                                                <td>25/05/2019</td>
                                            </tr>
                                            <tr>
                                                <td>#2058</td>
                                                <td>Lorem impsum dolor ammet !</td>
                                                <td>Eduardo</td>
                                                <td>-</td>
                                                <td>25/05/2019</td>
                                                <td>Alta</td>
                                                <td>25/05/2019</td>
                                            </tr>
                                            <tr>
                                                    <td>#2058</td>
                                                    <td>Lorem impsum dolor ammet !</td>
                                                    <td>Eduardo</td>
                                                    <td>-</td>
                                                    <td>25/05/2019</td>
                                                    <td>Alta</td>
                                                    <td>25/05/2019</td>
                                                </tr>
                                                <tr>
                                                    <td>#2058</td>
                                                    <td>Lorem impsum dolor ammet !</td>
                                                    <td>Eduardo</td>
                                                    <td>-</td>
                                                    <td>25/05/2019</td>
                                                    <td>Alta</td>
                                                    <td>25/05/2019</td>
                                                </tr>
                                                <tr>
                                                    <td>#2058</td>
                                                    <td>Lorem impsum dolor ammet !</td>
                                                    <td>Eduardo</td>
                                                    <td>-</td>
                                                    <td>25/05/2019</td>
                                                    <td>Alta</td>
                                                    <td>25/05/2019</td>
                                                </tr>
                                                <tr>
                                                    <td>#2058</td>
                                                    <td>Lorem impsum dolor ammet !</td>
                                                    <td>Eduardo</td>
                                                    <td>-</td>
                                                    <td>25/05/2019</td>
                                                    <td>Alta</td>
                                                    <td>25/05/2019</td>
                                                </tr>
                                                <tr>
                                                    <td>#2058</td>
                                                    <td>Lorem impsum dolor ammet !</td>
                                                    <td>Eduardo</td>
                                                    <td>-</td>
                                                    <td>25/05/2019</td>
                                                    <td>Alta</td>
                                                    <td>25/05/2019</td>
                                                </tr>
                                                <tr>
                                                    <td>#2058</td>
                                                    <td>Lorem impsum dolor ammet !</td>
                                                    <td>Eduardo</td>
                                                    <td>-</td>
                                                    <td>25/05/2019</td>
                                                    <td>Alta</td>
                                                    <td>25/05/2019</td>
                                                </tr>
                                                <tr>
                                                        <td>#2058</td>
                                                        <td>Lorem impsum dolor ammet !</td>
                                                        <td>Eduardo</td>
                                                        <td>-</td>
                                                        <td>25/05/2019</td>
                                                        <td>Alta</td>
                                                        <td>25/05/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td>#2058</td>
                                                        <td>Lorem impsum dolor ammet !</td>
                                                        <td>Eduardo</td>
                                                        <td>-</td>
                                                        <td>25/05/2019</td>
                                                        <td>Alta</td>
                                                        <td>25/05/2019</td>
                                                    </tr>
                                                    <tr>
                                                        <td>#2058</td>
                                                        <td>Lorem impsum dolor ammet !</td>
                                                        <td>Eduardo</td>
                                                        <td>-</td>
                                                        <td>25/05/2019</td>
                                                        <td>Alta</td>
                                                        <td>25/05/2019</td>
                                                    </tr>
                                                    <tr>
                                                            <td>#2058</td>
                                                            <td>Lorem impsum dolor ammet !</td>
                                                            <td>Eduardo</td>
                                                            <td>-</td>
                                                            <td>25/05/2019</td>
                                                            <td>Alta</td>
                                                            <td>25/05/2019</td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2058</td>
                                                            <td>Lorem impsum dolor ammet !</td>
                                                            <td>Eduardo</td>
                                                            <td>-</td>
                                                            <td>25/05/2019</td>
                                                            <td>Alta</td>
                                                            <td>25/05/2019</td>
                                                        </tr>
                                                        <tr>
                                                            <td>#2058</td>
                                                            <td>Lorem impsum dolor ammet !</td>
                                                            <td>Eduardo</td>
                                                            <td>-</td>
                                                            <td>25/05/2019</td>
                                                            <td>Alta</td>
                                                            <td>25/05/2019</td>
                                                        </tr>
                                                        <tr>
                                                                <td>#2058</td>
                                                                <td>Lorem impsum dolor ammet !</td>
                                                                <td>Eduardo</td>
                                                                <td>-</td>
                                                                <td>25/05/2019</td>
                                                                <td>Alta</td>
                                                                <td>25/05/2019</td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2058</td>
                                                                <td>Lorem impsum dolor ammet !</td>
                                                                <td>Eduardo</td>
                                                                <td>-</td>
                                                                <td>25/05/2019</td>
                                                                <td>Alta</td>
                                                                <td>25/05/2019</td>
                                                            </tr>
                                                            <tr>
                                                                <td>#2058</td>
                                                                <td>Lorem impsum dolor ammet !</td>
                                                                <td>Eduardo</td>
                                                                <td>-</td>
                                                                <td>25/05/2019</td>
                                                                <td>Alta</td>
                                                                <td>25/05/2019</td>
                                                            </tr>
                                                            <tr>
                                                                    <td>#2058</td>
                                                                    <td>Lorem impsum dolor ammet !</td>
                                                                    <td>Eduardo</td>
                                                                    <td>-</td>
                                                                    <td>25/05/2019</td>
                                                                    <td>Alta</td>
                                                                    <td>25/05/2019</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>#2058</td>
                                                                    <td>Lorem impsum dolor ammet !</td>
                                                                    <td>Eduardo</td>
                                                                    <td>-</td>
                                                                    <td>25/05/2019</td>
                                                                    <td>Alta</td>
                                                                    <td>25/05/2019</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>#2058</td>
                                                                    <td>Lorem impsum dolor ammet !</td>
                                                                    <td>Eduardo</td>
                                                                    <td>-</td>
                                                                    <td>25/05/2019</td>
                                                                    <td>Alta</td>
                                                                    <td>25/05/2019</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>#2058</td>
                                                                        <td>Lorem impsum dolor ammet !</td>
                                                                        <td>Eduardo</td>
                                                                        <td>-</td>
                                                                        <td>25/05/2019</td>
                                                                        <td>Alta</td>
                                                                        <td>25/05/2019</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>#2058</td>
                                                                        <td>Lorem impsum dolor ammet !</td>
                                                                        <td>Eduardo</td>
                                                                        <td>-</td>
                                                                        <td>25/05/2019</td>
                                                                        <td>Alta</td>
                                                                        <td>25/05/2019</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>#2058</td>
                                                                        <td>Lorem impsum dolor ammet !</td>
                                                                        <td>Eduardo</td>
                                                                        <td>-</td>
                                                                        <td>25/05/2019</td>
                                                                        <td>Alta</td>
                                                                        <td>25/05/2019</td>
                                                                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>

<script>
    document.querySelector("#ticket-list").style.maxHeight = document.querySelector("#ticket-list-container").offsetHeight + "px";
</script>