<div id="page" style="display: none;" data-page="AdminCompanyUpdate"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel update">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Editar Empresa
                    </h1>
                    <p>
                        Para Editar uma empresa, altere os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-company">

                            <input type="hidden" id="id_company" name="id_company">

                            <div class="form-group">
                                <label for="company_name">Nome da empresa:</label>
                                <input type="text" id="company_name" name="company_name">
                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-update" id="btn-update">Alterar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>