<div id="page" style="display: none;" data-page="AdminSectorNew"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel new">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Novo Setor
                    </h1>
                    <p>
                        Para criar um novo setor, preencha os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-sector">

                            <div class="form-group">
                                <label for="sector-name">Nome setor:</label>
                                <input type="text" id="sector-name" name="sector-name" placeholder="Informe o nome do setor">
                            </div>
                            
                            <div class="form-group">
                                <label for="local">Local pertencente:</label>
                                <select name="local" id="local">
                                    <option value="0">Selecione</option>
                                </select>
                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-enviar" id="btn-send">Criar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>