<div id="page" style="display: none;" data-page="AdminNewUser"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel new">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Nova Empresa
                    </h1>
                    <p>
                        Para cadastrar uma nova empresa, preencha os dados abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form>

                            <div class="form-group">
                                <label for="">Nome da Empresa:</label>
                                <input type="text">
                            </div>

    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-enviar">Criar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>