<div style="display: none;" id="page" data-page="AdminHome"></div>
<nav class="page-content-navbar">
    <div class="navbar">
        <button class="active"><i class="fas fa-users"></i> Usuários</button>
        <button class=""><i class="fas fa-building"></i> Empresas</button>
        <button class=""><i class="fas fa-map-marker-alt"></i> Locais</button>
        <button class=""><i class="fas fa-street-view"></i> Setores</button>
    </div>
</nav>      
<div class="content">
    Content
</div>
    