<div style="display: none;" id="page" data-page="AdminConfigs"></div>
<nav class="page-content-navbar">
    <div class="navbar">
        <button data-target="users"     class="button-panel" id="button-panel-users"><i class="fas fa-users"></i> Usuários</button>
        <button data-target="companies" class="button-panel"        id="button-panel-companies"><i class="fas fa-building"></i> Empresas</button>
        <button data-target="locals"    class="button-panel"        id="button-panel-locals"><i class="fas fa-map-marker-alt"></i> Locais</button>
        <button data-target="sectors"   class="button-panel"        id="button-panel-sectors"><i class="fas fa-street-view"></i> Setores</button>
    </div>
</nav>      
<div class="content">
    <div class="config-content-panel">

        <div class="config-panel panel-active">
            <div class="panel-center-message">
                <h1>Selecione uma opção ...</h1>
            </div>
        </div>
        
        <div class="config-panel" id="users-panel">

            <div class="panel-header">
                <header>
                    <h1>Lista de Usuários</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span id="users-count"></span> usuários cadastrados
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table id="table-user-list">
                        <caption>
                            <div class="table-caption">
                                <div class="buttons-table">
                                    <a href="/admin/user/new" class="btn btn-ok"><i class="fas fa-user-plus"></i> Novo</a>
                                </div>
                                <div class="search-user-field">
                                    <div id="input-search-user" class="input-search">
                                        <label for="search-user">
                                            <i class="fas fa-search"></i>
                                        </label>
                                        <input type="text" id="search-user" name="search-user" placeholder="Pesquisar...">
                                    </div>
                                </div>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Usuário</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <!-- <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr> -->
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

        <div class="config-panel" id="companies-panel">
            <div class="panel-header">
                <header>
                    <h1>Lista de Empresas</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span id="companies-quantity"></span> empresa cadastrada
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table id="table-companies-list">
                        <caption>
                            <div class="table-caption">
                                <div class="buttons-table">
                                    <button class="btn btn-ok"><i class="fas fa-user-plus"></i> Novo</button>
                                </div>
                                <div class="search-user-field">
                                    <div id="input-search-company" class="input-search">
                                        <label for="search-company">
                                            <i class="fas fa-search"></i>
                                        </label>
                                        <input type="text" id="search-company" name="search-company" placeholder="Pesquisar...">
                                    </div>
                                </div>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <!-- <tr>
                                <td>1</td>
                                <td>Empresa</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr> -->
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

        <div class="config-panel" id="locals-panel">
            <div class="panel-header">
                <header>
                    <h1>Lista de Locais</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span id="locals-quantity">0</span> locais encontrados
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table id="table-list-locals">
                        <caption>
                            <div class="table-caption">
                                <div class="buttons-table">
                                    <button class="btn btn-ok"><i class="fas fa-user-plus"></i> Novo</button>
                                </div>
                                <div class="search-user-field">
                                    <div id="input-search-local" class="input-search">
                                        <label for="search-local">
                                            <i class="fas fa-search"></i>
                                        </label>
                                        <input type="text" id="search-local" name="search-local" placeholder="Pesquisar...">
                                    </div>
                                </div>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <!-- <tr>
                                <td>1</td>
                                <td>Empresa</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr> -->
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

        <div class="config-panel" id="sectors-panel">
            <div class="panel-header">
                <header>
                    <h1>Lista de Setores</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span id="sectors-quantity">0</span> setor encontrados
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table id="table-list-sectors">
                        <caption>
                            <div class="table-caption">
                                <div class="buttons-table">
                                    <button class="btn btn-ok"><i class="fas fa-user-plus"></i> Novo</button>
                                </div>
                                <div class="search-user-field">
                                    <div id="input-search-sector" class="input-search">
                                        <label for="search-sector">
                                            <i class="fas fa-search"></i>
                                        </label>
                                        <input type="text" id="search-sector" name="search-sector" placeholder="Pesquisar...">
                                    </div>
                                </div>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <!-- <tr>
                                <td>1</td>
                                <td>Setor</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr> -->
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

    </div>
</div>
    