<div id="page" style="display: none;" data-page="AdminPlaceNew"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel new">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Novo Local
                    </h1>
                    <p>
                        Para criar um novo local, preencha os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-local">

                            <div class="form-group">
                                <label for="local_name">Nome local:</label>
                                <input type="text" id="local_name" name="local_name" placeholder="Nome do local a inserir">
                            </div>

                            <div class="form-group">
                                <label for="company">Empresa pertencente:</label>
                                <select name="company" id="company">
                                    <option value="0">Selecione</option>
                                </select>
                            </div>

                            <div class="row row-2">

                                <div class="form-group">
                                    <label for="city-cep">CEP:</label>
                                    <input type="text"id="city-cep" name="city-cep"  autocomplete="off" placeholder="CEP da cidade" >
                                </div>

                                <div class="form-group">
                                    <label for="city-name">Cidade:</label>
                                    <input type="text" id="city-name" name="city-name" placeholder="Nome da cidade" disabled>
                                </div>

                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-enviar" id="btn-new">Criar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>