<div id="page" style="display: none;" data-page="AdminTickets"></div>
<div class="tickets-container content">

    
    <div class="content-left-panel options-menu">
        <header>
            Visualizações padrões
        </header>
        <ul>
            <li>
                <a class="btn-switch-panel" data-target="all">
                    <span>Todos os tickets</span> <span id="all-tickets-button-qtt">0</span>
                </a>
            </li>
            <li>
                <a class="btn-switch-panel" data-target="assign-me">
                    <span>Seus tickets</span> <span id="assign-me-tickets-button-qtt">0</span>
                </a>
            </li>
            <li >
                <a class=" btn-switch-panel no-assignment-button" data-target="no-assign">
                    <span>Tickets sem atribuição</span> <span id="no-assign-tickets-button-qtt">0</span>
                </a>
            </li>
        </ul>
    </div>

    <div class=" content-main-panel tickets-panel">

        <div class="target-panel panel-active" id="tickets-all">
            <div class=" header-container ticket-list-header-container">
                <header class="ticket-list-header">
                    <div class="ticket-option-selected">
                        <h1>Todos os Tickets</h1>
                    </div>
                    <div class="ticket-qtd">
                        <span id="all-tickets-panel-qtt">60</span> Tickets
                    </div>
                </header>
            </div>
            
            <div class="ticket-list-container" id="ticket-list-container">

                <div class="ticket-list" id="ticket-list" data-simplebar>
                    <table cellspacing="0px;" id="table-all-tickets">
                        <caption>
                                            
                            <div class="tickets-list-header search-options" >

                                <div class="form-group">
                                    <label for="">Status:</label>
                                    <select name="" id="status-all-tickets" class="ticket-status-options">
                                        <option value="">--</option>
                                    </select>
                                </div>

                                <div id="" class="input-search">
                                    <label for="search-all">
                                        <i class="fas fa-search"></i>
                                    </label>
                                    <input type="text" id="search-all" name="search-all" data-target="all" class="search-ticket" placeholder="ID, Titulo ..">
                                </div>
            
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Titulo</th>
                                <th>Solicitante</th>
                                <th>Atribuição</th>
                                <th>Abertura</th>
                                <th>Prioridade</th>
                                <th>Ultima Alteração</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td> <a title="Atribuir ticket a você" id="btn-assign-me" class="btn-assign-me" href=""><i class="fas fa-arrow-circle-down"></i></a> </td>
                                <td>#2058</td>
                                <td><span class="status-ticket status-open">Aberto</span></td>
                                <td>Lorem impsum dolor ammet !</td>
                                <td>Eduardo</td>
                                <td>-</td>
                                <td>25/05/2019</td>
                                <td>Alta</td>
                                <td>25/05/2019</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="target-panel" id="tickets-assign-me">
            <div class=" header-container ticket-list-header-container">
                <header class="ticket-list-header">
                    <div class="ticket-option-selected">
                        <h1>Seus Tickets</h1>
                    </div>
                    <div class="ticket-qtd">
                        <span id="assign-me-tickets-panel-qtt">10</span> Tickets
                    </div>
                </header>
            </div>
            
            <div class="ticket-list-container" id="ticket-list-container">

                <div class="ticket-list" id="ticket-list" data-simplebar>
                    <table cellspacing="0px;" id="table-assign-me-tickets">
                        <caption>
                                            
                            <div class="tickets-list-header search-options" >

                                <div class="form-group">
                                    <label for="">Status:</label>
                                    <select name="" id="" class="ticket-status-options">
                                        <option value="">--</option>
                                    </select>
                                </div>

                                <div id="" class="input-search">
                                    <label for="search-assign-me">
                                        <i class="fas fa-search"></i>
                                    </label>
                                    <input type="text" id="search-assign-me" name="search-assign-me" data-target="assign-me" class="search-ticket" placeholder="ID, Titulo ..">
                                </div>
            
                            </div>

                        </caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Titulo</th>
                                <th>Solicitante</th>
                                <th>Atribuição</th>
                                <th>Abertura</th>
                                <th>Prioridade</th>
                                <th>Ultima Alteração</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td> <a title="Atribuir ticket a você" id="btn-assign-me" class="btn-assign-me" href=""><i class="fas fa-arrow-circle-down"></i></a> </td>
                                <td>#2058</td>
                                <td><span class="status-ticket status-open">Aberto</span></td>
                                <td>Lorem impsum dolor ammet !</td>
                                <td>Eduardo</td>
                                <td>-</td>
                                <td>25/05/2019</td>
                                <td>Alta</td>
                                <td>25/05/2019</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="target-panel" id="tickets-no-assign">
            <div class=" header-container ticket-list-header-container">
                <header class="ticket-list-header">
                    <div class="ticket-option-selected">
                        <h1>Tickets sem atribuição</h1>
                    </div>
                    <div class="ticket-qtd">
                        <span id="no-assign-tickets-panel-qtt">60</span> Tickets
                    </div>
                </header>
            </div>
            
            <div class="ticket-list-container" id="ticket-list-container">

                <div class="ticket-list" id="ticket-list" data-simplebar>
                    <table cellspacing="0px;" id="table-no-assign-tickets">
                        <caption>
                                            
                           <div class="tickets-list-header search-options" >

                                <div class="form-group">
                                    <label for="">Status:</label>
                                    <select name="" id="" class="ticket-status-options">
                                        <option value="">--</option>
                                    </select>
                                </div>

                                <div id="" class="input-search">
                                    <label for="search-no-assign">
                                        <i class="fas fa-search"></i>
                                    </label>
                                    <input type="text" id="search-no-assign" name="search-no-assign" data-target="no-assign" class="search-ticket" placeholder="ID, Titulo ..">
                                </div>
            
                            </div>

                        </caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>ID</th>
                                <th>Status</th>
                                <th>Titulo</th>
                                <th>Solicitante</th>
                                <th>Atribuição</th>
                                <th>Abertura</th>
                                <th>Prioridade</th>
                                <th>Ultima Alteração</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td> <a title="Atribuir ticket a você" id="btn-assign-me" class="btn-assign-me" href=""><i class="fas fa-arrow-circle-down"></i></a> </td>
                                <td>#2058</td>
                                <td><span class="status-ticket status-open">Aberto</span></td>
                                <td>Lorem impsum dolor ammet !</td>
                                <td>Eduardo</td>
                                <td>-</td>
                                <td>25/05/2019</td>
                                <td>Alta</td>
                                <td>25/05/2019</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    // document.querySelector("#ticket-list").style.maxHeight = document.querySelector("#ticket-list-container").offsetHeight + "px";
</script>