<div id="page" style="display: none;" data-page="AdminSectorUpdate"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel update">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Editar Setor
                    </h1>
                    <p>
                        Para Editdar uma setor, altere os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-sector">

                            <input type="hidden" id="id_sector" name="id_sector">

                            <div class="form-group">
                                <label for="sector_name">Nome setor:</label>
                                <input type="text" id="sector_name" name="sector_name">
                            </div>

                            <div class="form-group">
                                <label for="id_local">Local pertencente:</label>
                                <select name="id_local" id="id_local">
                                    <option value="0">Selecione</option>
                                </select>
                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-update" id="btn-update">Atualizar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>