<div style="display: none;" id="page" data-page="AdminHome"></div>
<nav class="page-content-navbar">
    <div class="navbar">
        <button class="active"><i class="fas fa-users"></i> Usuários</button>
        <button class=""><i class="fas fa-building"></i> Empresas</button>
        <button class=""><i class="fas fa-map-marker-alt"></i> Locais</button>
        <button class=""><i class="fas fa-street-view"></i> Setores</button>
    </div>
</nav>      
<div class="content">
    <div class="config-content-panel">
        
        <div class="config-panel users-panel ">

            <div class="panel-header">
                <header>
                    <h1>Lista de Usuários</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span>60 usuários cadastrados</span>
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table>
                        <caption>
                            <div class="buttons-table">
                                <button class="btn btn-ok"><i class="fas fa-user-plus"></i> Novo</button>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Usuário</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Daniel Costa Munhoz</td>
                                <td>daniel.munhoz</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

        <div class="config-panel companies-panel ">
            <div class="panel-header">
                <header>
                    <h1>Lista de Empresas</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span>1 empresa encontrada</span>
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table>
                        <caption>
                            <div class="buttons-table">
                                <button class="btn btn-ok"><i class="fas fa-plus-square"></i> Novo</button>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <tr>
                                <td>1</td>
                                <td>Empresa</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

        <div class="config-panel locals-panel ">
            <div class="panel-header">
                <header>
                    <h1>Lista de Locais</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span>1 local encontrados</span>
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table>
                        <caption>
                            <div class="buttons-table">
                                <button class="btn btn-ok"><i class="fas fa-plus-square"></i> Novo</button>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <tr>
                                <td>1</td>
                                <td>Empresa</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

        <div class="config-panel locals-panel ">
            <div class="panel-header">
                <header>
                    <h1>Lista de Setores</h1>
                </header>
                
                <div class="panel-header-subtitle">
                    <span>1 setor encontrados</span>
                </div>
            </div>
            
            <div class="panel-table">
                <div class="table-list" data-simplebar>
                    <table>
                        <caption>
                            <div class="buttons-table">
                                <button class="btn btn-ok"><i class="fas fa-plus-square"></i> Novo</button>
                            </div>
                        </caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <tr>
                                <td>1</td>
                                <td>Setor</td>
                                <td>
                                    <div class="option-buttons">
                                        <a href=""> <i class="fas fa-edit"></i> </a>
                                    </div>
                                </td>
                            </tr>
        
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>

    </div>
</div>
    