<div id="page" style="display: none;" data-page="AdminPriorityNew"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel new">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Cadastro de nova prioridade
                    </h1>
                    <p>
                        Para cadastrar uma nova prioridade, preencha os dados abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-priority">

                            <div class="form-group">
                                <label for="priority_name">Nome:</label>
                                <input type="text" id="priority_name" name="priority_name" placeholder="Nome da nova prioridade">
                            </div>

                            <div class="form-group">
                                <label for="priority_color">Cor da prioridade:</label>
                                <input type="color" id="priority_color" name="priority_color">
                            </div>

    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-enviar" id="btn-new">Criar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>