<div id="page" style="display: none;" data-page="AdminNewUser"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel" data-simplebar>
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Novo Usuário
                    </h1>
                    <p>
                        Para criar um novo usuário, preencha os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content">

                        <form>

                            <div class="form-group">
                                <label for="">Nome completo:</label>
                                <input type="text">
                            </div>
    
                            <div class="form-group">
                                <label for="">E-mail:</label>
                                <input type="email">
                            </div>
    
                            <div class="form-group">
                                <label for="">Usuário:</label>
                                <input type="text">
                            </div>
    
                            <div class="form-group">
                                <label for="">Senha:</label>
                                <input type="text">
                            </div>
    
                            <div class="form-group">
                                <label for="">Confirmar Senha:</label>
                                <input type="text">
                            </div>
    
                            <div class="form-group form-one-line"> 
                                <input type="checkbox" checked>
                                <label for="">Ativo</label>
                            </div>
    
                            <div class="form-group">
                                <label for="">Perfil de acesso:</label>
                                <select name="" id="">
                                    <option value="">--</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="">Empresa:</label>
                                <select name="" id="">
                                    <option value="">--</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="">Local:</label>
                                <select name="" id="">
                                    <option value="">--</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="">Setor:</label>
                                <select name="" id="">
                                    <option value="">--</option>
                                </select>
                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button>Criar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>