<div id="page" style="display: none;" data-page="AdminPlaceUpdate"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel update">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Editar Local
                    </h1>
                    <p>
                        Para Editar uma local, altere os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-local">

                            <input type="hidden" id="id_local" name="id_local">

                            <div class="form-group">
                                <label for="local_name">Nome local:</label>
                                <input type="text" id="local_name" name="local_name" placeholder="Nome do local a inserir">
                            </div>

                            <div class="form-group">
                                <label for="id_company">Empresa pertencente:</label>
                                <select name="id_company" id="id_company">
                                    <option value="0">Selecione</option>
                                </select>
                            </div>

                            <div class="row row-2">

                                <div class="form-group">
                                    <label for="city_cep">CEP:</label>
                                    <input type="text"id="city_cep" name="city_cep"  autocomplete="off" placeholder="CEP da cidade" >
                                </div>

                                <div class="form-group">
                                    <label for="city_name">Cidade:</label>
                                    <input type="text" id="city_name" name="city_name" placeholder="Nome da cidade" disabled>
                                </div>

                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-update" id="btn-update">Atualizar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>