<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/public/rsc/css/style.css" />
        <link rel="stylesheet" href="/public/rsc/css/elements.css" />
        <link rel="stylesheet" href="/public/rsc/css/keyframes.css" />
        <link rel="stylesheet" href="/public/rsc/css/mq.css" />
        <link rel="stylesheet" href="/public/rsc/css/admin-style.css" />
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" rel="stylesheet">

        <title> Admin - Home </title>

    </head>

    <body>
        <div id="app">

            <div class="aside-container">
                <aside id="aside-menu">
                    <div class="menu-toggler">
                        <a href="#" id="btn-menu-toggler">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <ul>
                        <li title="Pagina Inicial" class="">
                            <a href="/admin">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li title="Tickets">
                            <a href="/admin/tickets">
                                <i class="fas fa-tasks"></i>
                            </a>
                        </li>
                    </ul>
                </aside>
            </div>

           <div class="main-container">
                <nav>
                    <div class="nav-first-container">
                        <div class="new-ticket-container">
                            <a href="/admin/ticket/new" id="btn-new-ticket">+ New O.S.</a>
                        </div>
                    </div>

                    <div class="nav-second-container">
                        <div class="user-options-container">
                            <ul class="user-menu">
                                <li>
                                    <a href="/admin/configs" title="Configurações" class="btn btn-radio" id="btn-config">
                                        <i class="fas fa-cogs"></i>
                                    </a>
                                </li>
                                <li id="btn-show-user-panel">
                                    <img src="/public/rsc/img/no_user.png" alt="">
                                    <div id="user-panel">
                                        <header id="panel-user-name">
                                            
                                        </header>
                                        <section>
                                            <div class="user-menu-option" id="user-menu-options">
                                                <span id="btn-open-user-profile"> <i class="fas fa-user fa-sm"></i>  Meu Perfil </span>
                                            </div>
                                        </section>
                                        <footer class="user-logout" id="btn-user-logout">
                                            <span >
                                                <i class="fas fa-power-off fa-sm"></i> 
                                                Sair
                                            </span>
                                        </footer>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="company-logo">
                            <img src="/public/rsc/img/company-logo.png" alt="Company Logo">
                        </div>
                    </div>
                </nav>
    
                <section class="page-content">
                    