
<div style="display: none;" id="page" data-page="AdminHome"></div>
<nav class="page-content-navbar">
    <div class="navbar">
        <button class="active"><i class="fas fa-chart-pie"></i> Graficos</button>
        <button> <i class="fas fa-file-alt"></i> Relatórios</button>
    </div>
</nav>      
<div class="content">
    <div class="charts-container">

        <section class="chart-box">
            <header class="chart-header">
                <h1> Abertos Hoje </h1>
            </header>
            <div class="chart-body">
                <h1 class="ticket-count" id="ticket-count">
                    0
                </h1>
                <span>Tickets</span>
            </div>
        </section>
        
        <section class="chart-box">
            <header class="chart-header">
                <h1> Abertos por mês </h1>
            </header>
            <div class="chart-body">
                <canvas id="chart-month"></canvas>
            </div>

        </section>

    </div>
</div>
