<div id="page" style="display: none;" data-page="AdminPlaceNew"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel new">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Novo Local
                    </h1>
                    <p>
                        Para criar um novo local, preencha os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-place">

                            <div class="form-group">
                                <label for="place_name">Nome local:</label>
                                <input type="text" id="place_name" name="place_name">
                            </div>

                            <div class="form-group">
                                <label for="company">Empresa pertencente:</label>
                                <select name="company" id="company">
                                    <option value="0">Selecione</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="city">Cidade:</label>
                                <select name="city" id="city">
                                    <option value="0">Selecione</option>
                                </select>
                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-enviar" id="btn-new">Criar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>