<div id="page" style="display: none;" data-page="AdminUserUpdate"></div>
<div class=" content">

    <div class="main-content">
        <div class="center-panel update">
        
            <div class="main-panel">
    
                <header>
                    <h1>
                        Editar Usuário
                    </h1>
                    <p>
                        Para Editar um usuário, altere os campos abaixo.
                    </p>
                </header>

                <section>

                    <div class="form-content" data-simplebar>

                        <form id="form-user">

                            <input type="hidden" id="id_user" name="id_user">
                            <input type="hidden" id="old_username" name="old_username">

                            <div class="form-group">
                                <label for="full_name">Nome completo:</label>
                                <input type="text" id="full_name" name="full_name">
                            </div>
    
                            <div class="form-group">
                                <label for="email">E-mail:</label>
                                <input type="email" id="email" name="email">
                            </div>
    
                            <div class="form-group">
                                <label for="username">Usuário:</label>
                                <input type="text" id="username" name="username">
                            </div>
    
                            <!-- <div class="form-group">
                                <label for="">Senha:</label>
                                <input type="text">
                            </div>
    
                            <div class="form-group">
                                <label for="">Confirmar Senha:</label>
                                <input type="text">
                            </div> -->
    
                            <div class="form-group form-one-line"> 
                                <input type="checkbox" id="active" name="active">
                                <label for="active">Ativo</label>
                            </div>
    
                            <div class="form-group">
                                <label for="profile">Perfil de acesso:</label>
                                <select name="profile" id="profile">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="company">Empresa:</label>
                                <select name="company" id="company">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="local">Local:</label>
                                <select name="local" id="local">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>
    
                            <div class="form-group">
                                <label for="sector">Setor:</label>
                                <select name="sector" id="sector">
                                    <option value="0">Selecione uma opção</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <a href="" id="btn-change-passw" name="btn-change-passw">Atualizar senha</a>
                            </div>
    
                        </form>

                    </div>

                </section>

                <footer>

                    <button class="btn btn-update" id="btn-update">Atualizar</button>

                </footer>
    
            </div>
    
        </div>
    </div>

</div>