<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/public/rsc/css/keyframes.css">
        <link href="/public/rsc/css/style.css" rel="stylesheet" type="text/css">
        <link href="/public/rsc/css/elements.css" rel="stylesheet" type="text/css">
        <link href="/public/rsc/css/mq.css" rel="stylesheet" type="text/css">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Bem Vindo - Painel de chamados</title>

    </head>
    
    <body>
        <main id="app" data-simplebar>
            <section id="user-container">
                <nav class="nav-bar">
                    <div class="logo-container">
                        <a href="/">
                            <img src="/public/rsc/img/company-logo-transparent.png" alt="Company logo" title="Company Logo">
                        </a>
                    </div>
                    <div class="user-options-container">
                        <ul class="user-menu">
                            <li id="btn-show-user-panel">
                                <img src="/public/rsc/img/no_user.png" alt="">
                                <div id="user-panel">
                                    <header id="panel-user-name">
                                        
                                    </header>
                                    <section>
                                        <div class="user-menu-option" id="user-menu-options">
                                            <span id="btn-open-user-profile"> <i class="fas fa-user fa-sm"></i>  Meu Perfil </span> 
                                        </div>
                                    </section>
                                    <footer class="user-logout" id="btn-user-logout">
                                        <span >
                                            <i class="fas fa-power-off fa-sm"></i> 
                                            Sair
                                        </span>
                                    </footer>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </nav>

                <div id="page-container">
                    <div id="content">
                        <div class="background">
                            <div class="background-title">
                                
                            </div>
                        </div>

                        <div class="content-body">
                        
                            <div class="system-description">
                                <p>Este é um software de gerenciamento de ordens de serviço.</p>
                                <p>Aqui você vai pode criar e acompanhar todas os seus tickets abertos. </p>
                                <p>Após a abertura, um dos técnicos cadastrados vão assumir os tickets e entrar em contato com você para solucionar os problemas.</p>
                            </div>
                                