<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="public/rsc/css/style.css" rel="stylesheet" type="text/css">
        <link href="public/rsc/css/elements.css" rel="stylesheet" type="text/css">
        <link href="public/rsc/css/mq.css" rel="stylesheet" type="text/css">

        <title>Login - Entre para continuar</title>
    </head>
    
    <body>
        <div style="display: hidden;" id="page" data-page="Signin"></div>
        <main id="app" class="">
            <div class="container">
                <header>
                    <h1>iDesk</h1>
                </header>
                <section class="box">
                    <div class="form-box">
                        <img src="public/rsc/img/company-logo.png" alt="Company Logo">
                        <p class="description">Entre com seu usuário e senha para solicitar um suporte técnico.</p>
                        <form id="form-user-login" >
                            <div class="form-group">
                                <label for="username">Usuário:</label>
                                <input type="text" id="username" name="username" placeholder="Seu usuário de acesso.">
                            </div>

                            <div class="form-group">
                                <label for="passw">Senha:</label>
                                <input type="password" id="passw" name="passw" placeholder="Sua senha de no minimo 6 caracteres">
                            </div>

                            <button type="button" class="btn btn-enviar" id="btn-user-login">Entrar</button>
                            
                        </form>
                        <div class="redirect-links">
                            <p><a href="/admin/signin">Entrar como técnico. </a></p>
                            <p>Ainda não tem uma conta? <a href="/signup">Clique aqui!</a></p>
                        </div>

                    </div>
                
                </section>
            </div>
            <div class="system-welcome">
                
                <h1>Bem vindo ao iDesk</h1>
                <p>Software para gestão de Ordem de Serviço</p>

            </div>


        </main>
        <script src="/public/rsc/js/bundle.js"></script>
    </body>


</html>