<div style="display: hidden;" id="page" data-page="TicketDetails"></div>
<div class="system-options">
    <nav class="nav nav-track">
        <ul>
            <li class="nav-button ">
                <a href="/">Painel</a>
            </li>
            <li class="nav-button">
                <a href="/ticket/open">Abrir Ticket</a>
            </li>
            <li class="nav-button" >
                <a href="/team">Colaboradores</a>
            </li>
            </li>
        </ul>
    </nav>
    <section class="panel"> 
        <header>
            <h1>Ticket #<span id="ticket-id"></span></h1>
        </header>
        <div class="ticket-dt-panel"> 
            <aside class="ticket-menu">
                <ul>
                    <li> <a id="show-panel-general"  data-target="general"  class="show-panel active"> Geral </a> </li>
                    <li> <a id="show-panel-messages" data-target="messages" class="show-panel "> Acompanhamento </a> </li>
                </ul>
            </aside>

            <div id="general-panel" class="panel ">
                <form action="#">
                    <div class="row row-2">
                        <div class="form-group">
                            <label for="ticket-title">Titulo:</label>
                            <input type="text" id="ticket-title" name="ticket-title">
                        </div>

                        <div class="form-group">
                            <label for="ticket-atr">Atribuido para:</label>
                            <!-- <input type="text" name="ticket-atr" id="ticket-atr"> -->
                            <div class="ticket-atr" id="ticket-atr">
                                
                            </div>
                        </div>
                    </div>

                    <div class="row row-2">
                        <div class="form-group" >
                            <label for="ticket-priority">Prioridade:</label>
                            <input type="text" name="ticket-priority" id="ticket-priority">
                        </div>

                        <div class="form-group" >
                            <label for="ticket-update">Ultima alteração:</label>
                            <input type="date" name="ticket-update" id="ticket-update">
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label for="ticket-desc">Descrição:</label>
                            <textarea name="ticket-desc" id="ticket-desc" cols="30" rows="10"></textarea>
                            
                        </div>
                    </div>

                </form>
            </div>
            
            <div id="messages-panel" class="panel active" data-simplebar>
                <div id="messages-box">
                    
                    <!-- <div class="message-row">
                        <div class="message-body">
                            <section class="ticket-message">
                                abudalabaxuneba
                            </section>
                            <footer>
                                Daniel Costa Munhoz ás 22:35 de 04/08/2019
                            </footer>
                        </div>
                    </div>

                    <div class="message-row out">
                        <div class="message-body">
                            <section  class="ticket-message">
                                abudalabaxuneba dasdsadabudalabaxuneba 
                            </section>
                            <footer>
                                Daniel Costa Munhoz ás 22:35 de 04/08/2019
                            </footer>
                        </div>
                    </div> -->
                    
                </div>
                <footer>
                    <div id="new-message">
                        <form id="form-send-new-message">
                            <div class="form-group">
                                <textarea name="text-new-message" id="text-new-message" rows="6" placeholder="Escreva uma nova mensagem aqui para enviar..."></textarea>
                            </div>
                        </form>
                    </div>
                    <div>
                        <button type="submit" id="btn-new-message" class="btn btn-update">Novo Acompanhamento</button>
                    </div>
                </footer>
            </div>
        </div>
                        
    </section>
</div>