/* *{
    color: #47525E;
} */

a{
    text-decoration: none;
}

#app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;    
    color: #2a2f35;
    overflow: hidden;
}

#app .aside-container{
    background-color: red;
    display: flex;
}

#app aside{
    background-color: #303030;
    /* width: 65px; */
    height: 100%;
    box-sizing: border-box;
    text-align: center;

}

#app .main-container{
    height: 100%;
    max-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#app aside .fas{
    font-size: 32px ;
    color: #dadada;
}

#app aside .menu-toggler{
    padding: 25px 5px;
}

#app aside ul li{
    padding: 10px 10px;
}

#app aside ul li.active{
    background-color: #757575;

}

#app aside ul li:hover{
    background-color: #5c5c5c;
    
}


#app aside ul li a{
    display: block;
    position: relative;
}

#app nav{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}

#app nav .nav-second-container{
    padding-right: 50px;
}


#app nav div{
    display: flex;
    box-sizing: border-box;
}

#app nav div .user-options-container{
    padding: 0 10px;
}

#app nav div .user-options-container .user-menu li:nth-child(1){
    color: #5a5a5a;
    font-size: 20px;
}

#app nav div .user-options-container .user-menu li:nth-child(1):hover{


}

#app nav div .user-options-container .user-menu #user-panel{
    display: none;
    top: 59px;
}

#app nav div .company-logo img{
    width: 120px;
}

.new-ticket-container #btn-new-ticket {
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    transition: 100ms;
    padding: 0px 30px;
    cursor: pointer;
    color: #2a2f35;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}

.new-ticket-container #btn-new-ticket:hover {
    background-color: rgb(235, 235, 235);

}

.new-ticket-container.active #btn-new-ticket {
    position: relative;
    top: 1px;
    border: 1px solid #FFF;
    border-right: 1px solid #e2e2e2;
    box-shadow: 2px 0px 10px 2px rgba(61, 61, 61, 0.315);
}

/* ================== Page content ================== */
.page-content{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-content nav{
    background-color: #DCDCDC;
    display: flex;
}

.page-content nav button{
    color: #303030;
    border: none;
    padding: 15px;
    font-size: 18px;
    background-color: #dadada;
    cursor: pointer;
}

.page-content nav button:hover{
background-color: #b8b8b8;
}

.page-content nav button.active{
    background-color: #FFF;
}

/* ================== Admin Tickets ================== */
.content{
    background-color: #EEEEEE;
    display: flex;
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
}

.content form {

    display: flex;
    flex-direction: row;

}

.content .content-left-panel{
    background-color: rgb(250, 250, 250);
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
}

.content .content-left-panel.options-menu header{

    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #c4c4c4;
    font-size: 18px;
}

.content .content-left-panel.options-menu ul{
    list-style: none;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.content .content-left-panel.options-menu ul li{
    padding: 5px 0;
}

.content .content-left-panel.options-menu ul li a{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    transition: 100ms;
    color: #47525E ;
    font-size: 18px;
}

.content .content-left-panel.options-menu ul li a:hover{
    background-color: #e2e2e2;
}
.no-assignment-button{
    color: rgb(221, 87, 87) !important;
    
}


.content .content-main-panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


.content .tickets-panel{
    height: 100%;
    overflow: auto;
}

.content .tickets-panel .header-container {
    box-sizing: border-box;
}

.content .content-main-panel div header {
    box-sizing: border-box;
    padding: 25px 50px;
    color: #47525E;
}

.content .tickets-panel .header-container header .ticket-option-selected {
    font-weight: bold;
    font-size: 18px;
}

.content .content-main-panel .target-panel{
    display: none;
    flex-grow: 1;
    flex-direction: column;
}

.content .content-main-panel .target-panel.panel-active{
    display: flex;

}

.content .tickets-panel .ticket-list-container {
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative

}

.content .tickets-panel .ticket-list-container .ticket-list{
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;    
    display: flex;
    position: absolute;

}

.ticket-list table caption .tickets-list-header {
    width: 100%;
    padding: 0 10px;
    display: flex;


}

.tickets-list-header .input-search{
    
    height: 38px;
    position: relative;
    top: 15px;
    margin-left: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table caption{
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

table thead tr th{
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #868686;
}


table tbody tr td{
    font-weight: bold;
    color: #47525E;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
    transition: 100ms;
    font-size: 14px;
}

.btn-assign-me{

    color: #E34317;

}

.btn-assign-me.disable-assign{
    color: rgb(185, 185, 185);
    pointer-events: none;
    cursor: default !important; 
}


table tbody tr:hover{

    background-color: rgb(238, 238, 238);
}

.content .ticket-details{
    background-color: #FFF;
}

.content .ticket-details .ticket-details-header-container{
    border-bottom: 2px solid #e2e2e2;
}

.content .ticket-details .ticket-details-title{
    font-size: 24px;
    font-weight: bold;
}

.content .ticket-details .ticket-details-subtitle{
    font-size: 14px;
    color: #838383;
    padding: 5px 0;
}

.content div .fields-details{
    padding: 10px 0;
}

.content div .fields-details .form-group{
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
}

.content div .fields-details .form-group label{
    font-weight: bold;
    font-size: 18px;
    color: #47525E;
 }

 

 .content .ticket-details .body-container{
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     position: relative;
    }

.content .ticket-details .body-container .ticket-messages{
    /* background-color: red; */
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px 10%;
    position: relative;
    top: 0;
}

.content .ticket-details .body-container .ticket-messages .messages-container{
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    flex-grow: 1;
}

 #messages-box{
     flex-grow: 1;
     height: 100%;
     min-height: 0% !important;
     max-height: 100% !important;
     width: 100%;
     position: absolute;
     top: 0;
     width: 100%;
     overflow-y: auto;
 }

 .content .ticket-details .body-container .ticket-messages .messages-footer-container {
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}


.content .ticket-details .body-container .ticket-messages .messages-footer-container div button{
    margin: 0 5px;
}

#form-send-new-message{
    background-color: red;
}

.form-group .new-assign{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    width: 100%;
}

.form-group .new-assign select{
    border-radius: 3px;
    padding: 3px;
}

.form-group .assign-box {

    position: relative;
    display: block;
    height: 100px;
    max-height: 100px;
    overflow: hidden;

}

.form-group .assign-box-users{
    position: absolute;
    height: 100%;
    width: 100%;
    list-style: none;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    box-sizing: border-box;
    padding: 5px;
    overflow: auto;

}

.form-group .assign-box-users li {
    margin: 5px 0;
}

.form-group .assign-box-users li span{

    font-family: 'Lato', sans-serif !important;
    font-size: 14px;
    
}

.form-group .assign-box-users li span:nth-child(1){
    margin-right: 5px;
}

.form-group .new-assign .assign-selected{
    width: 10%;
}

.form-group .new-assign .assign-selected a{
    height: 100%;
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #00569c;
}

.edit-ticket{
    display: block;
    position: absolute;
    background: red;
    padding: 10px;
    
}

.new-ticket-title{
    background-color: rgb(241, 241, 241);
    border: 2px solid rgb(241, 241, 241);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
}

.config-content-panel{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.config-content-panel .config-panel{
    display: none;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.config-content-panel .config-panel.panel-active{
    display: flex;
}

.config-content-panel .config-panel .panel-header{

    box-sizing: border-box;
    padding: 20px 50px;

}

.config-content-panel .config-panel .panel-table{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.config-content-panel .config-panel .panel-table .table-list{
    box-sizing: border-box;
    padding: 5px 10px;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px 5px 0 0;
}

.table-caption{
    display: flex;
    flex-direction: row-reverse;
}

.search-user-field{
    flex-grow: 1;
}

.input-search{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    border: 2px solid #e7e7e7;
    border-radius: 5px;
}

.input-search label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}

.input-search input{
    background-color: #FFF;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.buttons-table{
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
}

.config-content-panel .config-panel .panel-center-message{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(219, 219, 219);
}


.main-content{

    display: flex;
    width: 100%;
    height: 100%;
    
}

.center-panel.new{

    border-top: 3px solid #473879;

}

.center-panel.update{

    border-top: 3px solid #E34317;

}

.center-panel{

    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.center-panel .main-panel{

    background-color: #FFF;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    /* display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5px;
    background-color: red; */
}

.main-panel section form{
    width: 40%;
}

.main-panel header{

    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    flex-grow: 0;
    border-bottom: 2px solid rgb(216, 216, 216);

}

.main-panel header p{
    
    color: #7a7a7a;

}


.main-panel section {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: auto;
}

.main-panel section .form-content{
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    padding: 0px 10px;
    box-sizing: border-box;
}

.main-panel footer {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.status-ticket{
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
    border-radius: 100px;
    background-color: purple;
}

.status-ticket.status-open{
    background-color: rgb(15, 192, 148);
}

.btn-switch-panel {
    cursor: pointer;
}

.search-options .form-group{
    
    width: 30%;
}

.btn-panel-active{

    background: rgb(95, 95, 95);
    color: #FFF !important;

}

.btn-panel-active:hover{

    background: rgb(121, 121, 121) !important;

}