/* input{
    padding: 15px;
    background-color: #E5E5E5;
    color: rgb(64, 67, 71);
    border: 1px solid #E5E5E5;
    border-bottom: 3px solid #E5E5E5;
    border-radius: 5px;
    font-size: 16px;
    transition: 200ms;
}

input:active{
    border: 1px solid #235153;
}

input:focus{
    border-bottom: 3px solid #235153;
} */

/* input,
textarea,
select{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(54, 54, 54);
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-size: 16px;
    transition: 200ms;
    overflow: none;
} */

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select{
    padding: 7px;
    background-color: rgb(228, 228, 228);
    color: rgb(94, 94, 94);
    border: 2px solid rgb(228, 228, 228);
    border-radius: 5px;
    font-size: 16px;
    transition: 300ms;
    overflow: none;
    box-sizing: border-box;
    width: 100%;
}

input[type='color']{
    background-color: rgb(228, 228, 228);
    border: 2px solid rgb(228, 228, 228);
    width: 40px;
    height: 30px;
    position: relative;
    display: flex;
    border-radius: 3px;
}

input[type='color']::before{
    /* position: relative;
    content: '⯆';
    font-size: 18px;
    box-sizing: border-box;
    padding-top:2px; */
}

input[type='color']:hover::before{
    background-color: rgb(201, 201, 201);
}

input:focus,
textarea:focus{
    border: 2px solid #0084ac;
    background-color: #FFF;
    box-shadow: 0px 0px 5px 2px #0084ac2f;
}

select{
    background-color: rgb(228, 228, 228) !important;
    transition: 100ms;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus{
    background-color: #9c9c9c !important;
    color: #FFF;
    border-color: #9c9c9c !important;
    outline: none;
}

textarea{
    resize: none;
}

input:focus{
    
}



.dark{
    background-color: #d1d1d1 !important;
    color: rgb(64, 67, 71);
    border: 1px solid #E5E5E5;
    border-bottom: 3px solid #d1d1d1 ;
    border-radius: 5px;
    font-size: 16px;
    transition: 200ms;
}

/* .dark:active{
    border: 1px solid #0084ac !important;
    border-bottom: 3px solid #0084ac !important;
    box-shadow: none;
} */

.dark:focus{
    border: 1px solid #E5E5E5;
    border-bottom: 3px solid #0084ac;
    box-shadow: none;
} 



.btn{

    padding: 10px;
    background-color: #727272;
    color: #FFF;
    border: #727272;
    font-size: 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 150ms;

}

.btn-enviar{
    border: #00a0d1;
    background-color: #00a0d1;
}

.btn-update{
    border: #E34317;
    background-color: #E34317;
}

.btn-update:hover{
    background-color: rgb(248, 67, 17);
}

.btn-done{
    border: rgb(18, 135, 202);
    background-color: rgb(18, 135, 202);
}

.btn-done:hover{
    background-color: rgb(11, 148, 228);
}

.btn-ok{
    /* border: #00ac8f;
    background-color: #00ac8f; */

    /* border: #0073c0;
    background-color: #0073c0; */

    border: #1BA156;
    background-color: #1BA156;
}

.btn-radio{
    background-color: #FFF;
    border-radius: 100%;
    padding: 12px;
    color: #47525E;
}

.btn-radio:hover{
    background-color: #dddddd;

}

.btn.btn-option-system{
    margin: 0 10px;
    width: 20%;
    background-color: #fff;
    border: 1px solid #235153;
    color: #235153;
    border-radius: 2px;
    padding: 20px;
    transition: 200ms;
    font-weight: bold;
}

.btn.btn-option-system:hover{

    background-color: #235153;
    border: 1px solid #235153;
    color: #fff;

}

.button-load{
    width: 30px !important;
}

.search-select-box{
    background-color: #ffffff;
    color:rgb(51, 51, 51);
    /* -moz-appearance: button; */
    /* -webkit-appearance: button; */
    display: block;
    width: 150px;
    padding: 5px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.212);
    outline: none;
}

/* .search-select-fields .form-group:before{
    content: '\f0dd';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    background-color: #FFF;
    pointer-events: none;
} */