@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lato:400,400i,700,700i,900&display=swap');

:root{
    
    /* --default-font-color: #47525E; */
    --default-font-color: #2a2f35;
    --default-sys-color: #235153;
    
}

*{
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    outline: none !important;
}

h1, h2, h3, h4{
    font-family: 'Bree Serif', serif;
}

html, body{
    width: 100%;
    height: 100%;    
    min-width: 750px;
    box-sizing: border-box;
}

/* ================================================== Notification ================================================== */

#notification-body{
    display: flex;
    flex-direction: column;
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

.notification{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    box-sizing: border-box;
    position: relative;
    width: 250px;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
    transition: 300ms;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.521);
    margin-bottom: 20px;
    right: -350px;
    opacity: 0;
}

.notification h1{
    font-size: 20px;
}

.notification span{
    font-size: 14px;
}

.notification.popup{
    right: 0px;
    opacity: 1;
}

.notification.success{

    background-color: green;
    color: #FFF;

}

.notification.danger{

    background-color: rgb(248, 80, 80);
    color: #FFF;

}

#app{
    /* min-height: 750px; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: var(--default-font-color);
    box-sizing: border-box;
    overflow-y: none; 
    transition: 500ms;
    z-index: 0;
}   

#app.login-fade{
    transform: scale(0.9);
    opacity: 0;
    border-radius: 5px;
}


/* ================================================== User Login/Create Page ================================================== */

.container{
    background-color: #FFF;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #FFF; 
}

.box .form-box{
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box .form-box img{
    width: 50%;
}

.box .form-box .description{
    width: 70%;
    text-align: center;
    font-size: 16px;
}

.form-box form,
form{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

form footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.box .form-box form .form-group,
form .row .form-group,
form .form-group{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    transition: 300ms;
}

.form-group.input-error > label{
    color: rgb(250, 95, 95);
}

.form-group > label::before{
    content: "*";
    position: relative;
    left: -2px;
    opacity: 0;
    transition: 300ms;
}

.form-group > label::after{
    content: "( E-mail precisa conter ' @ ' e ' . ' )";
    position: relative;
    font-size: 12px;
    left: 5px;
    opacity: 0;
    transition: 300ms;
}



.form-group.input-error > label::before{
    content: "*";
    left: 0;
    opacity: 1;
}

.form-group.input-error.input-email-error > label::after{
    /* content: "( E-mail precisa conter ' @ ' e ' . ' )"; */
    opacity: 1;
    left: 0;
 
}


.form-group.input-error > input,
.form-group.input-error > select{
    border-color: rgb(250, 95, 95);
}

.box .redirect-links{
    text-align: center;
    font-size: 14px;
}

.box .redirect-links a{
    color:#00A4FD;
    text-decoration: none;
}

.box .redirect-links a:active{
    color:rgb(0, 137, 211);
}

.form-group label{
    margin-bottom: 5px;
    position: relative;
    left: -3px;
}

.system-welcome{
    background-color: var(--default-sys-color);
    color:#FFF !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;

}


/* ================================================== Admin Login Page ================================================== */
.admin-container{
    background-color: var(--default-sys-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-box{
    flex-grow: 0 !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 40px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.219);
}

.admin-box p {
    font-size: 18px;
}

.admin-box .form-box{
    width: 100%;
}

.admin-company-logo-login{
    width: 400px;
    position: relative;
    top: -100px;
}

/* ================================================== User Page ================================================== */
#user-container{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #E6E6E6;
}

#user-container .nav-bar{
    background-color: #235153;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
}

#user-container .nav-bar .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-container .nav-bar .logo-container img{
    width: 120px;
}

#user-container .nav-bar .user-options-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-container .nav-bar .user-options-container .user-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #FFF;
    height: 100%;

}

#user-container .nav-bar .user-options-container .user-menu li{

    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 70px;
}

#user-container .nav-bar .user-options-container .user-menu li i{

    /* font-size: 32px !important; */
}


#user-container .nav-bar .user-options-container .user-menu li img{
    width: 40px;
    border-radius: 100px;
}

#btn-show-user-panel{
    position: relative;
    transition: 100ms;
}

#btn-show-user-panel:hover{
    cursor: pointer;
    background-color: #163d3f;
}

#btn-show-user-panel.active{
    background-color: #163d3f;
}

#user-panel.active{
    opacity: 1;
    right: 0;
}

#user-panel{
    cursor: default;
    position: absolute;
    background-color: #163d3f;
    color: #FFF;
    top: 80px;
    right: -50px;
    width: 190px;
    box-sizing: border-box;
    pointer-events: none;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    display: none;
    opacity: 0;
    flex-direction: column;
    transition: 200ms;
}

#user-panel header{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #0b2c2e;
}

#user-panel .user-menu-option{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

#user-panel .user-menu-option span{
    padding: 10px 5px;
    transition: 50ms;
    pointer-events: auto;
}

#user-panel .user-menu-option span:hover{
    background-color: #0b2c2e;
    cursor: pointer;
}

#user-panel footer,
#user-panel header{    
    display: flex;
    height: 50px;    
    align-items: center;
}

#user-panel footer span{
    padding: 0 5px;
}

#user-panel footer{
    pointer-events: all;
    border-top: 1px solid #0b2c2e;
}

#btn-user-logout:hover{
    background-color: rgb(124, 20, 20);
    border-radius: 0 0 5px 5px;
    cursor: pointer;
}


#user-panel .fas{
    color: #fff;
    font-size: 16px !important;
    margin-right: 5px;
}



#user-container #page-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    
}

#user-container #page-container #content{
    background-color:#FFF;
    width: 65%;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
}

#user-container #page-container #content .background{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;

}

.background .background-title{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
}

.content-body{
    padding: 10px;
}
.content-body .system-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 14px;
    /* border-bottom: 1px solid rgb(236, 236, 236); */
    margin-bottom: 10px;
}

.content-body .system-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 35px;
    padding: 0 100px;
    border-bottom: 1px solid rgb(172, 172, 172)
    /* box-shadow: inset 0px -5px 10px -10px rgba(0, 0, 0, 0.397); */
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.nav ul .nav-button a{
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    width: 110px;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    border-bottom: 0px rgb(199, 199, 199);
    border-color: rgb(255, 255, 255);
    border-style: solid;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    z-index: 1;
    margin-bottom: 0px;
    margin-right: 0px;
    transition: 200ms;
    color:#207479;
    text-decoration: none;

}

.nav ul .nav-button a:hover{
    border: 1px solid rgb(224, 224, 224);
    border-bottom: 0px;
    background-color: rgb(250, 250, 250);
    color:#1b5155;
}

.nav-button.active a{
    background-color: #FFF !important;
    color: var(--default-font-color) !important;
    border: 1px solid rgb(172, 172, 172) !important;
    border-bottom: 1px solid #FFF !important;
    margin-bottom: -1px !important;
}

.panel{
    display: flex;
    flex-direction: column;
    min-height: 700px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    
}

.panel header{
    padding: 10px 10px;
    font-size: 22px;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 5px;
}

table, tr, td, th{
    border-collapse: separate;
    border-spacing: 0 10px; 
}

.tickets-table caption{
    background-color: #F3F3F3;
    padding: 10px;
    border-bottom: 1px solid rgb(180, 180, 180);
}


.search-select-fields .form-group{
    text-align: left;
    display: inline-block;
    position: relative;
    float: left;
    margin-right: 10px;
}

.search-select-fields .form-group label{
    color: var(--default-font-color);
    display: block;
    position: relative;
    left: 5px;
}

.panel .tickets-table{
    width: 100%;
    text-align: left;
} 


.tickets-table thead tr th{
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
}

.tickets-table tbody tr{
    /* background-color: #F3F3F3; */
    transition: 100ms;
}

.tickets-table tbody tr:hover{
    background-color: #E5E5E5;
    cursor: pointer;
}

.tickets-table tbody tr:active{
    background-color: rgb(240, 240, 240);
}

.tickets-table tbody tr td{
    border-bottom: 1px solid rgb(44, 44, 44);
}

.tickets-table tbody tr td:nth-child(2),
.tickets-table tbody tr td:nth-child(3){
    text-align: center; 

}



.ticket-row-details{
    display: flex;
    flex-direction: row;
}

.ticket-row-details .img-status{
    background-color: rgb(44, 44, 44);
    padding: 10px;

}

.ticket-row-details .img-status img{
    width: 70px;
}

.ticket-row-details .tr-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.ticket-row-details .tr-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.ticket-row-details .tr-body .t-title{
    font-style: italic;
}

.ticket-row-details .tr-body .t-attr{
    font-size: 14px;
    color: #4f565f;
}

.row{
    margin-bottom: 10px;
}

.row-2{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.row.row-2 .form-group{
    width: 48% !important;
}

.team-box{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

.team-box .card-team{
    margin: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 350px;
    height: 120px;
}

.team-box .card-team .card-row{
    display: flex;
    flex-direction: column;
}

.card-row .card-email{
    font-size: 14px !important;
}

.ticket-dt-panel{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    box-sizing: border-box;
    padding-top: 20px;
}

.ticket-dt-panel aside{
    box-sizing: border-box;
    border-right: 1px solid rgb(231, 231, 231);
    padding-right: 20px;
    padding-left: 10px;
    width: 250px;
}

.ticket-menu ul{
    list-style: none;
    padding-top: 20px;
}

.ticket-menu ul li{
    width: 100%;
    padding-bottom: 10px;

}

.ticket-menu ul li a {
    display: flex;
    color: var(--default-font-color);
    text-decoration: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 3px;
}

.ticket-menu ul li a:hover,
.ticket-menu ul li a.active {
    background-color: #4f565f;
    color: #fff;
    
}

.ticket-dt-panel .general-panel{
    flex-grow: 1;
    box-sizing: border-box;
    padding: 10px 30px;
}

/* ================================================== Modal complete user register ================================================== */
#user-complete-register{
    position: absolute;
    display: none;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.664);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 500ms;
}

#user-complete-register.active{
    opacity: 1;
}


#modal-user-register{
    background-color: #FFF;
    border-radius: 5px;
    width: 500px;
    height: 400px;
    max-height: 400px;
    padding: 20px;
    display: flex;
    transition: 300ms;
    overflow: hidden;
}

#modal-user-register.expand{

    animation-name: modal-expand;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-delay: 0ms;
    animation-direction: normal;

    /* width: 700px !important;
    height: 480px !important; */
}

#modal-user-register div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#confirm-register-message{
    opacity: 0;
    transition: 300ms;
    left: 100px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#confirm-register-message header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
}

#confirm-register-message header img{
    width: 300px;
    
}

#confirm-register-message header h1{
    font-size: 36px;    
}

#confirm-register-message header h1, span{
    font-family: "Bree serif", serif
}

#modal-register-confirm{
    opacity: 0;
    transition: 300ms;
}

#confirm-register-message.active{
    left: 0;
}

#confirm-register-message.active,
#modal-register-confirm.active{
    opacity: 1;
}

#modal-register-confirm.active{

}

#confirm-register-message section{
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 22px;
    padding: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
    margin-bottom: 20px;
    text-align: justify;
}

#modal-user-register div footer{

    display: flex;
    justify-content: flex-end;
   
}

