@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lato:400,400i,700,700i,900&display=swap');

:root{

    --default-font-color: #47525E;
    --default-sys-color: #235153;

}

*{
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    outline: none !important;
}

h1, h2, h3, h4{
    font-family: 'Bree Serif', serif;
}

html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#app{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: var(--default-font-color);
    box-sizing: border-box;
}   

/* ================================================== User Login/Create Page ================================================== */

.container{
    background-color: #FFF;
    width: 40%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: #FFF; 
}

.box .form-box{
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box .form-box img{
    width: 50%;
}

.box .form-box .description{
    width: 70%;
    text-align: center;
    font-size: 16px;
}

.box .form-box form{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box .form-box form .form-group{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.box .redirect-links{
    text-align: center;
    font-size: 14px;
}

.box .redirect-links a{
    color:#00A4FD;
    text-decoration: none;
}

.box .redirect-links a:active{
    color:rgb(0, 137, 211);
}

.form-group label{
    margin-bottom: 5px;
}

.system-welcome{
    background-color: var(--default-sys-color);
    color:#FFF !important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;

}


/* ================================================== Admin Login Page ================================================== */
.admin-container{
    background-color: var(--default-sys-color);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-box{
    flex-grow: 0 !important;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 40px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.219);
}

.admin-box p {
    font-size: 18px;
}

.admin-box .form-box{
    width: 100%;
}

.admin-company-logo-login{
    width: 400px;
    position: relative;
    top: -100px;
}

/* ================================================== User Page ================================================== */
#user-container{
    width: 100%;
}

#user-container .nav-bar{
    background-color: #235153;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding: 0 200px;
}

#user-container .nav-bar .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-container .nav-bar .logo-container img{
    width: 150px;
}

#user-container .nav-bar .user-options-container{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-container .nav-bar .user-options-container .user-menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #FFF;

}

#user-container .nav-bar .user-options-container .user-menu li{

    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-container .nav-bar .user-options-container .user-menu li i{

    font-size: 32px !important;
}

.material-icons{

}

#user-container .nav-bar .user-options-container .user-menu li img{
    width: 50px;
    border-radius: 100px;
}

#user-container #page-container{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    height: 1000px;
}

#user-container #page-container #content{
    background-color:#FFF;
    width: 60%;
    box-sizing: border-box;
}

#user-container #page-container #content .background{
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;

}

.background .background-title{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 36px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
}

.content-body{
    padding: 10px;
}
.content-body .system-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 14px;
    border-bottom: 1px solid rgb(236, 236, 236);
}